* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove global styles for body and html */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
